## 2. Библиотека Pandas

### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
Определите какому фильму было выставлено больше всего оценок 5.0.

## 2. Pandas Library

### Task 1

Download from the website https://grouplens.org/datasets/movielens / dataset of any size.
Determine which movie was given the most 5.0 ratings.

In [2]:
import urllib.request
import zipfile as z
import pandas as pd

In [4]:
destination = 'ml-10m.zip'
url = 'https://files.grouplens.org/datasets/movielens/ml-10m.zip'
urllib.request.urlretrieve(url, destination)

zip_package = 'ml-10m.zip'

movies_in_zip = zip_package.strip('ml-10m.zip') + 'ml-10M100K/movies.dat'                                                                          
ratings_in_zip = zip_package.strip('ml-10m.zip') + 'ml-10M100K/ratings.dat'

with z.ZipFile(zip_package, 'r') as data_in:
    # data_in.printdir()
    # print(data_in.namelist())
    
    with data_in.open(movies_in_zip, 'r') as m:
        movies_list = [bytes.decode(line_, 'ISO-8859-1') for line_ in m.readlines()]
    
    with open('movies_list.txt', 'w', encoding='utf-8') as out_file_1:
        out_file_1.writelines(''.join(movies_list))

    with data_in.open(ratings_in_zip, 'r') as r:
        ratings_list = [bytes.decode(line_, 'ISO-8859-1') for line_ in r.readlines()]
  
    with open('ratings_list.txt', 'w', encoding='utf-8') as out_file_2:
        out_file_2.writelines(''.join(ratings_list))
        
with open('movies_list.txt', 'r', encoding='utf-8') as file_m:
    dfm = pd.read_csv(file_m, sep=r'::', names = ['MovieID', 'Title', 'Genres'], engine='python')
    
with open('ratings_list.txt', 'r', encoding='utf-8') as file_r:
    dfr = pd.read_csv(file_r, sep=r'::', names = ['UserID', 'MovieID', 'Rating', 'Timestamp'], engine='python')

# print(dfm.head(10))
# print(dfr.head(10))

joined = dfr.merge(dfm, on='MovieID', how='left')
fltr_cls = joined[['Title', 'Rating']]
filtered = fltr_cls.query('Rating == 5')

result = filtered['Title'].value_counts().head(1)
print(str(result).split('  ')[0])

Shawshank Redemption, The (1994)

### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

### Task 2

According to the power.csv file, calculate the total consumption of the Baltic countries (Latvia, Lithuania and Estonia) of categories 4, 12 and 21 for the period from 2005 to 2010. Do not take into account negative quantity values in the calculations.

In [7]:
power = pd.read_csv('power.csv')

power_1 = power[
    (power['country'].isin(['Latvia', 'Lithuania', 'Estonia']))
    & (power['category'].isin([4, 12, 21]))
    & (power['year'].isin(range(2005, 2011)))
    & (power['quantity'] > 0)
    ]['quantity'] \
    .sum()

print(power_1)

240580.0

### Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

### Task 3

Select a page of any site with tabular data. Import the tables into the pandas dataframe.

In [11]:
python_analitics = pd.read_html('https://worldtable.info/gosudarstvo/smertnost-v-rossii-po-godam-tablica.html')
python_analitics[0]

       0                   1
0    Год  Количество умерших
1   1927           2 705 000
2   1928           2 589 000
3   1929           2 819 000
4   1930           2 738 000
..   ...                 ...
86  2017           1 824 340
87  2018           1 817 710
88  2019           1 800 677
89  2020           2 124 479
90  2021           2 445 509

[91 rows x 2 columns]

![](Pandas_logo.png)