In [18]:
import pandas as pd

In [33]:
python_analitics = pd.read_html('https://worldtable.info/gosudarstvo/smertnost-v-rossii-po-godam-tablica.html')
python_analitics[0]

       0                   1
0    Год  Количество умерших
1   1927           2 705 000
2   1928           2 589 000
3   1929           2 819 000
4   1930           2 738 000
..   ...                 ...
86  2017           1 824 340
87  2018           1 817 710
88  2019           1 800 677
89  2020           2 124 479
90  2021           2 445 509

[91 rows x 2 columns]